body {
  margin: 0;
  padding: 0;
  clear: both; }

.page-wrapper {
  width: 100%;
  height: 978px;
  background-color: #F0F0F0; }
  .page-wrapper .content-wrapper {
    margin: 0 auto; }

.content-wrapper {
  position: relative;
  background-color: #fff;
  width: 600px;
  height: 666px; }
  .content-wrapper .phone-img {
    position: absolute;
    top: 155px;
    right: 0;
    width: 250px;
    height: 507px;
    z-index: 1;
    background: url(https://diokhan.github.io/img/phone.png) no-repeat center center; }

.stores .store-btn {
  margin-right: 10px; }
