@font-face {
  font-family: "Harabara";
  src: url(../fonts/Harabara.eot?) format("eot"), url(../fonts/Harabara.woff) format("woff"), url(../fonts/Harabara.ttf) format("truetype"), url(../fonts/Harabara.svg#) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaLTStd Roman";
  src: url(../fonts/HelveticaLTStd-Roman.otf) format("opentype"); }

@font-face {
  font-family: "HelveticaLTStd Bd";
  src: url(../fonts/HelveticaLTStd-Bold.otf) format("opentype"); }

@font-face {
  font-family: "HelveticaLTStd It";
  src: url(../fonts/HelveticaLTStd-Obl.otf) format("opentype"); }
