.content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 666px; }
  .content .top-part {
    width: 100%;
    height: 244px;
    background: url(../img/bg.png) no-repeat center center; }
  .content .bottom-part {
    width: 598px;
    height: 420px;
    border: 1px #DBDBDB solid; }

.top-part {
  position: relative;
  color: #fff;
  font-size: 20px; }
  .top-part .heading, .top-part .text {
    margin-left: 39px; }
  .top-part .heading {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Harabara", sans-serif;
    font-size: 52px; }
  .top-part .username {
    margin-top: 0;
    font-family: "HelveticaLTStd Bd", sans-serif;
    margin-bottom: 0; }
  .top-part .text {
    margin-top: 0;
    font-family: "HelveticaLTStd Roman", sans-serif; }
  .top-part .team-name {
    font-family: "HelveticaLTStd Bd", sans-serif; }
  .top-part .invited {
    margin-left: 39px;
    height: 50px;
    width: 300px; }
    .top-part .invited .invited-by, .top-part .invited .inviter {
      margin: 0;
      font-family: "HelveticaLTStd Roman", sans-serif; }
    .top-part .invited .invited-by {
      padding-top: 7px;
      font-size: 14px;
      color: #c1c1c1; }
    .top-part .invited .inviter {
      font-size: 18px; }
    .top-part .invited .inviter-img {
      display: inline;
      float: left;
      margin-right: 10px; }

.bottom-part .heading, .bottom-part .text {
  margin-left: 39px; }
.bottom-part .heading {
  font-family: "HelveticaLTStd Bd", sans-serif;
  color: #313539;
  font-size: 22px;
  margin-top: 45px; }
.bottom-part .text {
  font-family: "HelveticaLTStd Roman", sans-serif;
  color: #6A6A6A;
  font-size: 14px; }
.bottom-part .download-btn {
  display: block;
  margin-left: 39px;
  margin-top: 30px; }
.bottom-part .stores {
  margin-left: 39px;
  margin-top: 20px; }
