.content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 666px; }
  .content .top-part {
    width: 100%;
    height: 244px;
    background: url(https://diokhan.github.io/img/bg.png) no-repeat center center; }
  .content .bottom-part {
    width: 598px;
    height: 420px;
    border: 1px #DBDBDB solid; }

.top-part {
  position: relative;
  color: #fff; }
  .top-part .heading, .top-part .username, .top-part .text {
    margin-left: 39px; }
  .top-part .heading {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Harabara", sans-serif;
    font-size: 52px; }
  .top-part .username {
    margin-top: 0;
    font-family: "HelveticaLTStd Bd", sans-serif;
    font-size: 20px;
    margin-bottom: 0; }
  .top-part .text {
    margin-top: 0;
    font-family: "HelveticaLTStd Roman", sans-serif;
    font-size: 20px; }

.bottom-part .heading, .bottom-part .text {
  margin-left: 39px; }
.bottom-part .heading {
  font-family: "HelveticaLTStd Bd", sans-serif;
  color: #313539;
  font-size: 22px;
  margin-top: 65px; }
.bottom-part .text {
  font-family: "HelveticaLTStd Roman", sans-serif;
  color: #6A6A6A;
  font-size: 14px; }
.bottom-part .stores {
  margin-left: 39px;
  margin-top: 70px; }

.stores .store-btn {
  margin-right: 10px; }
